S3method(plot,idm)
S3method(plot,shr)
S3method(predict,idm)
S3method(print,idm)
S3method(print,shr)
S3method(sim,idmModel)
S3method(summary,idm)
S3method(summary,shr)
export(Hist)
export(idm)
export(idmModel)
export(lifexpect)
export(shr)
export(simulateIDM)
importFrom(lava,sim)
importFrom(prodlim,Hist)
useDynLib(SmoothHazard)
