useDynLib(SmoothHazard)
export(idm,shr,lifexpect) 
import(mvtnorm)

import(survival)

S3method(lifexpect,idmSplines)
S3method(plot,idmWeib)

S3method(plot,shr)
S3method(plot,idm)

S3method(plot,shrWeib)
S3method(plot,shrSplines)
S3method(plot,idmWeib)
S3method(plot,idmSplines)

S3method(print,idmSplines) 
S3method(print,idmWeib) 
S3method(print,shrWeib) 
S3method(print,shrSplines) 

S3method(summary,idmSplines) 
S3method(summary,idmWeib) 
S3method(summary,shrWeib) 
S3method(summary,shrSplines) 

S3method(predict,idmSplines)
S3method(predict,idmWeib)

